table>
  <tbody>
    <tr>
      <td><h2>Welcome <%= @user%>!</h2></td>
    </tr>
    <tr>
      <td><p>Thank you for your purchase!</p></td>
    </tr>
    <tr>
      <td><p>your order for <%= @order%> has been taken, and we will contact you with further details</p></td>
    </tr>
    <tr>
      <td><p><strong>Your digiworld Team!</strong></p></td>
    </tr>
  </tbody>
</table>