<table>
  <tbody>
    <tr>
      <td><h2>Welcome!</h2></td>
    </tr>
    <tr>
      <td><p>Thank you for signing up with digiworld!</p></td>
    </tr>
    <tr>
      <td><p><strong>Your digiworld Team!</strong></p></td>
    </tr>
  </tbody>
</table>