<div class= "container">
    <div class="row">
        <div class="col-xs-12">
            <p>Thank you for your purchase</p>
            <p>Continue shopping <%= link_to 'Products', Products_path %></p>
        </div>
    </div>
</div>